extends layout
block buy
    doctype html
    html 
        head 
            title Property For Sale
        body
            .container1
                h1 Properties for Sale
                ul.property-list
                    each property in properties
                        li
                            img.property-image(src="/images/property1.jpg", alt="Property Image")
                            .property-details
                                div.property-id id #{property.id}
                                div.property-type property type: #{property.property_type}
                                div.property-bedrooms bedrooms: #{property.bedrooms}
                                div.property-bathrooms bathrooms: #{property.bathrooms}
                                div.property-price price: #{property.price}
                    
//- Add more properties here