extends layout
block buy
    doctype html
    html 
    head 
        title Property For Sale
        link(rel="stylesheet", href="/css/buy.css")
    body
        header
            img(src='/images/logophoto.png', alt='Marketplace Logo', height='100')
            nav
                a(href='/home') Home
                a(href='/about') About
                a(href='/blog') Blog
                a(href='/reviews') Reviews
                a(href='/contact') Contact Us
        .container1
            h1 Properties for Sale
            ul.property-list
                each property in properties
                    li
                        img.property-image(src="/images/property1.jpg", alt="Property Image")
                        .property-details
                            div.property-id id #{property.id}
                            div.property-type Property type: #{property.property_type}
                            div.property-bedrooms Number of Bedrooms: #{property.bedrooms}
                            div.property-bathrooms Number of Bathrooms: #{property.bathrooms}
                            div.property-owner Owner: #{property.contact_name}
                            div.property-owner Owner Phone No: #{property.contact_phone}
                            div.property-owner Owner Email: #{property.contact_email}
                            div.property-price Price £: #{property.price}
            footer
                p &copy; 2023 Marketplace. All rights reserved.